*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --image-size: 500px;
}
html,
body {
  width: 100%;
  height: 100vh;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #131313;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ccc;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-menu a:hover {
  color: #ccc;
}

main .container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  height: 95vh;
}

.gallery {
  /* max-width: 800px; */
  width: 60%;
  height: 30rem;
  position: relative;
  display: grid;
}
.slider {
  display: flex;
  position: relative;
}
.wrapper {
  position: relative;
  display: none;
  transition: transform 0.5s ease-out, left 0.5s ease-out;
}
.flipped {
  position: absolute;
  bottom: calc(-100% - 10px);
  transform: scaleY(-1);
}
.wrapper::after {
  content: "";
  position: absolute;
  bottom: calc(-100% - 10px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 19, 0.75),
    rgba(19, 19, 19, 1) 50%
  );
}
.wrapper:has(+ * + * + .selected) {
  display: flex;
  position: absolute;
  top: 50%;
  left: calc(50% - var(--image-size));
  transform: translate3d(-50%, -50%, 0) scale(0);
  z-index: 0;
}
.wrapper:has(+ * + .selected) {
  display: flex;
  position: absolute;
  top: 50%;
  left: calc(50% - var(--image-size) / 2);
  transform: translate3d(-50%, -50%, 0) scale(0.8);
  z-index: 1;
}
.wrapper:has(+ .selected) {
  display: flex;
  position: absolute;
  top: 50%;
  left: calc(50% - var(--image-size) / 4);
  transform: translate3d(-50%, -50%, 0) scale(0.9);
  z-index: 2;
}
.selected {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 3;
}
.selected + .wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: calc(50% + var(--image-size) / 4);
  transform: translate3d(-50%, -50%, 0) scale(0.9);
  z-index: 2;
}
.selected + * + .wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: calc(50% + var(--image-size) / 2);
  transform: translate3d(-50%, -50%, 0) scale(0.8);
  z-index: 1;
}
.selected + * + * + .wrapper {
  display: flex;
  position: absolute;
  top: 50%;
  left: calc(50% + var(--image-size));
  transform: translate3d(-50%, -50%, 0) scale(0);
  z-index: 0;
}
.arrows {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 4;
}
.arrows .left,
.arrows .right {
  position: relative;
  cursor: pointer;
}
.arrows .left.disabled,
.arrows .right.disabled {
  opacity: 0.5;
}
.arrows .left::before,
.arrows .right::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 4px;
  transform: translateY(-50%);
}
.arrows .left:before {
  right: -100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
.arrows .right::before {
  left: -100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
.arrows svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff;
}
img {
  border-radius: 6px;
  width: 400px;
  height: 350px;
}

.product-info {
  width: 40%;
  /* background-color: antiquewhite; */
  padding: 20px;
}

.button-24 {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 15px 100px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button-24:active {
  opacity: 0.5;
}

span {
  padding: 5px;
  color: gray;
  display: block;
}

footer {
  background-color: #ccc;
  padding: 20px;
}

footer .container {
  max-width: 960px;
  margin: 0 auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col-md-4 {
  flex-basis: 30%;
}

footer h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer a {
  color: #333;
}

footer a:hover {
  color: #000;
}

@media (max-width: 768px) {
  footer .col-md-4 {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1678px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .gallery {
    width: 100%;
  }
  .product-info {
    z-index: 5;
    width: 100%;
  }
  .navbar {
    padding: 20px;
  }
  .wrapper, .flipped {
    width: 350px;
  }
}
